setuptools~=60.8.2
opencv-python~=4.5.5.62
pynput~=1.7.6
tkvideoutils~=0.5.30
pillow~=9.0.1
numpy~=1.22.2
WMI~=1.5.1
PyYAML~=6.0
pyEmpatica~=0.5.7
openpyxl~=3.0.9
matplotlib==3.4.3
logger-util~=0.2
future~=0.18.2
ttkwidgets~=0.12.1
pyWoodway~=0.2.2
pyTactor~=0.1.2